body {
  background: #FFF;
  margin: 0;
  padding: 0;
}

#slick-testem {
  margin-right: 10px;
  float: right;
}

#slick-testem.failing {
  background: red;
  color: white;
  background: #EE5757;
  padding: 2px 4px;
}

#qunit-banner.qunit-pass {
  background-color: #3c763d;
}

#qunit-testrunner-toolbar {
    color: #000;
}
#qunit-header {
    border-radius: 0;
  padding: 0.5em 0 0.5em 0.5em;
  background-color: #ffffff;
}
#qunit-header a {
    color: #6d6d6d;
}
#qunit-header a:hover, #qunit-header a:focus {
    color: #000;
}

#qunit-tests .fail {
    color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
#qunit-tests li a {
  padding: 0.5em;
  font-weight: bold;
  text-decoration: none;
}
#qunit-tests li.fail a {
  color: #a94442;
}

#qunit-userAgent {
  padding: 0.5em 1em 0.5em 1.2em;
  background-color: #a2a2a2;
  color: #FFF;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 0.3px;
  text-shadow: none;
}
span.qunit-url-config input:first-child {
  margin-left: 0;
}
#qunit-testresult {
  color: #000000;
  background-color: #f3f3f3;
}
#qunit-tests .pass {
  color: #3c763d;
  background-color: #dff0d8;
}
#qunit-tests .pass a {
  color: #3c763d;
}
#qunit-tests .pass .test-name {
  color: #000;
}
#qunit-tests li li.pass {
    border-left: 10px solid #3c763d;
}
.test-source pre {
  background-color: #f5f5f5;
  padding: 5px;
  color: #000;
}
#qunit-tests .fail .test-expected {
  color: #3c763d;
}
